.food {
    margin-bottom: 24px;
    position: relative;
}

.food .card-img-top {
    height: 350px;
}

.food .link {
    text-decoration: none;
    color: darkslategray;
}

.card {
    height: 100%;
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}