<div class="content">
    <h1><span>Cà phê trứng</span></h1>
    <img src="https://cdn.tgdd.vn/Files/2020/11/20/1308144/ca-phe-trung-co-nguon-goc-tu-dau-202011201440455136.jpg" alt="image"/>
    <p>
    <span
        >Cà phê trứng là một thức uống làm từ cà phê, trứng, sữa, … những nguyên
        liệu đơn giản nhưng lại mang hương vị thơm ngon độc đáo mà ai thưởng thức
        đều không thể quên.</span
    ><span style="color: black; background-color: white; padding: 2px 0">
        Nhắc đến cà phê trứng bạn sẽ biết đến quán&nbsp;</span
    >cà phê Giảng nổi tiếng ở Hà Nội với lịch sử lâu đời từ những năm 1950. Đây là
    nơi phát minh ra và mang cà phê trứng trở nên một món thức uống đặc trưng của
    đất nước Việt Nam, món thức uống mà khách du lịch từ khắp nơi trên thế giới
    đều muốn quay lại để thưởng thức.
    </p>
    <h3><span>1. Cà phê bắt đầu ở Việt Nam từ khi nào?</span></h3>
    <img src="https://cdn.tgdd.vn/Files/2020/11/20/1308144/ca-phe-trung-co-nguon-goc-tu-dau-202011201436154860.jpg" alt="image"/>
    <p>
    <span
        >Từ thời kỳ pháp đô hộ Việt Nam, Pháp đã du nhập cà phê vào Việt Nam từ
        những năm 1857 và chọn Tây Nguyên là nơi canh tác loại sản vật được cho là
        vàng đen được Châu Âu ưa chuộng này. Và từ đó Việt Nam bắt đầu xuất hiện
        những thức uống làm từ hạt cà phê, ban đầu là những nhà giàu và lan tỏa dần
        đến tầng lớp dân nghèo cũng được thưởng thức.</span
    >
    </p>
    <p><span>&nbsp;</span></p>
    <p>
    <span
        >Từ đó làn sóng cà phê đầu tiên được sự du nhập và hội nhập văn hóa đã xuất
        hiện ở Việt Nam đến những năm 1975, cà phê giúp xóa bỏ ranh giới giàu nghèo
        và ai cũng có thể thưởng thức nó, một phin cà phê thơm lừng sau một ngày lao
        động mệt mỏi. Các quán cà phê đã bắt đầu mọc lên ở cả hai miền Bắc Nam của
        Việt Nam.</span
    >
    </p>
    <img src="https://cdn.tgdd.vn/Files/2020/11/20/1308144/ca-phe-trung-co-nguon-goc-tu-dau-202011201437391900.jpg" alt="image"/>
    <p>
    <span
        >Khác với những quán cà phê sang trọng mang nét văn hóa Mỹ và chứa đựng tinh
        thần, sự phóng khoáng của con người Nam bộ ở miền Nam, thì ở miền Bắc lại
        phổ biến những quán cà phê gia đình do tự tay ông chủ pha chế và phục vụ rồi
        lấy tên chính mình làm tên quán như: cà phê giảng, cà phê Nhân, cà phê
        Lâm,...</span
    >
    </p>
    <h3><span>2. Nguồn gốc của cà phê trứng</span></h3>
    <img src="https://cdn.tgdd.vn/Files/2020/11/20/1308144/ca-phe-trung-co-nguon-goc-tu-dau-202011201439233375.jpg" alt="image"/>
    <p>
    <strong
        ><span
        style="
            color: black;
            background-color: white;
            padding: 2px 0;
            font-size: 10.5pt;
        "
        >Café trứng</span
        ></strong
    ><span
        style="
        color: black;
        background-color: white;
        padding: 2px 0;
        font-size: 10.5pt;
        "
        >&nbsp;là món đồ uống nổi tiếng của tiệm café Giảng. Giảng là một trong
        những thương hiệu cà phê có tiếng lâu đời ở Hà Nội, lấy tên từ chính chủ
        nhân là cụ Nguyễn Văn Giảng. Cụ Giảng từng là nhân viên pha chế ở khách sạn
        Metropole thời Pháp thuộc (1930-1945). Được biết, món cafe trứng nổi tiếng ở
        Giảng, được cụ biến thể từ thức uống Capuchino với những nguyên liệu như cà
        phê, sữa, kem,... ông mong muốn người dân Việt Nam cũng được thưởng thức món
        thức uống thơm ngon này. Nhưng khi ấy mặt hàng kem sữa tươi rất hiếm và giá
        thành cao nên người dân Việt mình không thể tự mua được</span
    >
    </p>
    <p>
    <span>&nbsp;</span>Ông liền nảy ra kết hợp cà phê với trứng, ông nghĩ rằng
    Việt Nam có rất nhiều trứng gà ngon vậy sao không tận dụng chúng. Và từ đó cà
    phê trứng bắt đầu xuất hiện ở quán cà phê Giảng từ năm 1946, một món thức uống
    độc lạ với người Việt Nam thời ấy nhưng lại có giá thành rẻ mà mọi tầng lớp
    đều có thể thưởng thức.
    </p>
    <img src="https://cdn.tgdd.vn/Files/2020/11/20/1308144/ca-phe-trung-co-nguon-goc-tu-dau-202011201442084975.jpg" alt="image"/>
    <p>
    <span style="color: black; background-color: white; padding: 2px 0"
        >Một ly&nbsp;</span
    ><em><span>cà phê trứng thơm ngon</span></em
    ><span style="color: black; background-color: white; padding: 2px 0"
        >&nbsp;được làm từ những nguyên liệu cực kỳ đơn giản là trứng gà tươi,
        đường, sữa và cà phê. Với lòng đỏ trứng gà được đánh đều lên bằng tay cùng
        với sự tài hoa của người pha chế mà trở thành một món cà phê với lớp bọt đẹp
        cùng mùi vị thơm ngon hòa quyện.</span>
    </p>
<p>
  <span
    >Cafe trứng có thể uống nóng hay đá tùy khẩu vị của mỗi người nhưng thực
    chất đúng chuẩn vị thì có lẽ bạn nên thưởng thức 1 ly và phê trứng thơm ngon
    còn nóng hổi.</span
  >
</p>
<p>
  <strong><span>Cách thưởng thức cà phê trứng thơm ngon</span></strong
  ><span><br /></span
  ><span style="color: rgb(17, 17, 17); background-color: white; padding: 2px 0"
    >Thưởng thức cà phê trứng cũng là một nghệ thuật. Khi thưởng thức, hãy dùng
    một chiếc thìa con để thưởng thức bọt kem bên trên giống như "món khai
    vị"&nbsp;trước&nbsp;khi uống cà phê bên dưới. Vị đắng của cà phê đen hòa với
    cái ngậy ngậy của trứng mang lại cho loại đồ uống này nét cá tính
    riêng.&nbsp;</span
  ><span>Kết luận</span>
</p>
<p>
  <span style="color: black; font-size: 10.5pt"
    >Café trứng&nbsp;là một thứ đồ uống vô cùng độc đáo của thủ đô Hà Nội. Sự
    hòa quyện hài hòa, không quá ngọt, cũng không quá đắng, vị ngậy của trứng
    lẫn trong mùi hương nồng nàn của café. Mang đến những trải nghiệm vô cùng
    thú vị cho những ai lần đầu nếm thử.</span
  >
</p>
<p>
  <span style="color: black; font-size: 10.5pt"
    >Nếu có dịp tới Hà Nội đừng quên ghé qua café Giảng. Nơi sáng tạo ra công
    thức của món&nbsp;café trứng&nbsp;vô cùng độc đáo này. Đây cũng là một trong
    những địa điểm dừng chân thú vị nếu bạn muốn có một không gian tĩnh lặng để
    thưởng thức ly café trứng để bạn có thể tìm hiểu nguồn gốc ra đời của
    nó.</span
  >
</p>
<p>
  <span style="color: black; font-size: 10.5pt"
    >Café trứng&nbsp;là món thức uống của người Hà Nội đã trở lên nổi tiếng khắp
    thế giới. Có người nói rằng uống café trứng nóng hổi đựng trong một chiếc
    cốc đơn giản dù chỉ thưởng thức một lần nhưng đã nhớ mãi về Hà Nội.</span
  >
</p>
<p>
  <h3>3. Cách làm</h3>
</p>
<p style="text-align: justify">
  <strong
    ><span style="color: rgb(17, 17, 17); font-size: 12pt"
      >Nguyên liệu chuẩn bị:</span
    ></strong
  >
</p>
<p style="text-align: justify">
  <span style="color: rgb(17, 17, 17); font-size: 12pt"
    >– cafe bột : 3 thìa</span
  >
</p>
<p style="text-align: justify">
  <span style="color: rgb(17, 17, 17); font-size: 12pt"
    >– trứng gà tươi : 1 quả trứng gà ta</span
  >
</p>
<p style="text-align: justify">
  <span style="color: rgb(17, 17, 17); font-size: 12pt"
    >– sữa đặc : 2 thìa cà phê</span
  >
</p>
<p style="text-align: justify">
  <span style="color: rgb(17, 17, 17); font-size: 12pt"
    >– Mật ong nguyên chất</span
  >
</p>
<p style="text-align: justify">
  <span style="color: black">B1: </span
  ><span style="color: rgb(17, 17, 17)"
    >Trứng gà sau khi các bạn mua về thì tách riêng phần lòng trắng và lòng đỏ
    ra làm 2 cốc khác nhau.</span
  ><span style="background-color: white; padding: 2px 0">
    Bạn nên sử dụng trứng gà ta, mùi sẽ thơm và ít tanh hơn trứng gà công
    nghiệp</span
  >
</p>
<img src="https://huyenthoaiviet.vn/image/cc3a1ch-lc3a0m-cc3a0-phc3aa-tre1bba9ng-hc3a0-ne1bb99i-thc6a1m-nge1baady-c491e1bb99c-c491c3a1o-1-521j.jpg" alt="image" >
<p style="text-align: justify">
  <span style="color: rgb(17, 17, 17); background-color: white; padding: 2px 0"
    >B2: Đánh phần lòng đỏ trước cùng với vài giọt mật ong. Đánh bằng máy cho
    đến khi bông lên, ngửi thấy mùi thơm như mùi bánh và có màu vàng kem là
    được. Đánh tiếp phần lòng trắng, cho một ít đường, vài giọt mật ong rồi đánh
    thật kỹ, cho đến khi lòng trắng trứng mịn như bông, có mùi thơm ngậy như
    kem.</span
  >
</p>
<img src="https://huyenthoaiviet.vn/image/cach-danh-bong-long-trang-trung-bang-tay-3_800x431-524j.jpg" alt="image" >
<p style="text-align: justify">
  <span style="color: rgb(17, 17, 17); background-color: white; padding: 2px 0"
    >B3: Sau khi đánh bông phần lòng đỏ thì các bạn rửa sạch dụng cụ đánh trứng
    đi. Cho thêm một chút đường kính trắng cùng với vài giọt mật ong vào trong
    cốc đựng lòng trắng trứng rồi tiếp tục đánh đều cho thật kỹ. Đến khi nào
    thấy lòng trắng trứng gà mịn như bông và có mùi thơm ngậy béo đặc trưng thì
    chúng ta dừng lại.</span
  >
</p>
<p style="text-align: justify">
  <span style="color: rgb(17, 17, 17); background-color: white; padding: 2px 0"
    >B4: </span
  ><span style="color: rgb(17, 17, 17)"
    >Pha cà phê đen nóng rồi đổ ra một cái cốc đã đựng sẵn 2 thìa cà phê sữa
    đặc. Chú ý sau khi pha nếu các bạn thấy cà phê bị nguội bạn cho vào trong lò
    vi sóng quay thêm một chút nữa cho nóng lên.</span
  >
</p>
<p style="text-align: justify">
  <span style="color: rgb(17, 17, 17); font-size: 12pt"
    >Tiếp đó cho thêm một chút đường tùy theo khẩu vị của mỗi người. Đổ ngay cốc
    đựng đang đựng phần lòng đỏ đã được đánh vào trong cốc cà phê. Nhanh tay các
    bạn hớt phần lòng trắng trứng có bọt phủ lên trên bề mặt. Lúc này là các bạn
    đã hoàn thiện xong cách làm cà phê trứng vô cùng hấp dẫn rồi đấy.</span
  >
</p>
<p style="text-align: justify">
  <span style="color: rgb(17, 17, 17); font-size: 12pt"
    >Bạn dùng thìa khuấy tan cafe lên rồi sau đó thưởng thức và cảm nhận hương
    vị của nó nhé. Lưu ý là chúng ta không nên khuấy nhiều vì như vậy sẽ khiến
    lớp cafe bên dưới nhanh bị nhanh nguội, trứng dễ bị tanh như vậy sẽ khó uống
    hơn.</span
  >
</p>
<img src="https://huyenthoaiviet.vn/image/trung-coffee-520j.jpg" alt="image"/>
<p style="text-align: justify">
  <strong
    ><span style="color: rgb(17, 17, 17); font-size: 12pt"
      >THÀNH PHẨM</span
    ></strong>
</p>
<img src="https://www.vibrantlyvietnam.com/wp-content/uploads/2019/07/goc-ha-noi-coffee-shop-review-ho-chi-minh-city-vietnam-egg-coffee.jpg" alt="image" style="max-width: 800px" />
<p>
  <span style="color: rgb(17, 17, 17); font-size: 12pt">Cách pha một tách cà phê trứng cũng khá đơn giản đúng không nào! Cà phê
    trứng ngon nhất khi các bạn thưởng thức lúc còn nóng. Vì vậy tuyệt đối đừng
    bao giờ cho thêm đá vào trong khi uống nhé! Chỉ cần mất vài phút là các bạn
    đã có thể làm cho mình một tách cà phê trứng cho riêng mình mà không cần mất
    thời gian ra bên ngoài quán thưởng thức.</span>
</p>
<p style="text-align: justify">
  <span style="color: rgb(17, 17, 17); font-size: 12pt">&nbsp;</span>
</p>
<strong><p style="text-align: justify">
  <span style="color: rgb(17, 17, 17); font-size: 12pt">Các quán cà phê nổi tiếng</span>
</p></strong>
<p style="text-align: justify">
  <span>1. Giảng Café – Quán cafe trứng ở Hà Nội nổi tiếng nhất</span>
</p>
<p style="text-align: justify">
  <span>2. Cafe Đinh – Quán cafe trứng ở Hà Nội ngon thần sầu</span>
</p>
<p style="text-align: justify">
  <span>3. Cà phê Phố cổ – Trải nghiệm quán cafe trứng ở Hà Nội ngay giữa phốcổ</span>
</p>
<p style="text-align: justify">
  <span>4. Oriberry Cafe – Quán cafe trứng ở Hà Nội cực kỳ dễ thương</span>
</p>
<p style="text-align: justify">
  <span>5. My Way Café &amp; Lounge – Quán cafe trứng ở Hà Nội phong cách châu
    Âu</span>
</p>
<p style="text-align: justify">
  <span>6. The Hanoi Social Club – Quán cafe trứng ở Hà Nội rất chất lượng</span>
</p>
<p style="text-align: justify">
  <span>7. Cà phê trứng ngõ Hàng Chỉ – Quán cafe trứng ở Hà Nội cực dân dã</span>
</p>
<p style="text-align: justify">
  <span>8. The Note Coffee – Quán cafe trứng ở Hà Nội được trang trí độc đáo</span>
</p>
<p style="text-align: justify">
  <span>9. AN Café – Quán cafe trứng ở Hà Nội ít người biết</span>
</p>
<p style="text-align: justify">
  <span>10. Memory Coffee – Một quán cafe trứng ở Hà Nội khá mới</span>
</p>
</div>