<div class="content">
    <h2>1. Lịch sử món chả cá Lã Vọng</h2>
    <img src="https://cdn.justfly.vn/828x552/media/202108/24/1629796433-cha-ca-la-vong-ha-noi.jpg" alt="">
    <i>Chả cá Lã Vọng</i>
    <p>Nói đến đặc sản và những món ngon Hà Nội, ta có thể liệt kê ra dăm bảy loại, nào là bún đậu, phở, bún chả, cốm, … mỗi người lại yêu thích một món khác nhau. Nhưng riêng có một món mà bất cứ ai đã từng ăn đều không thể chối từ, đó là chả cá Lã Vọng.. Gọi là đặc sản Hà Nội, vì có lẽ không nơi nào có món này, mà đủ khéo léo để nâng tầm nó lên thành một món ăn thượng hạng và mỹ vị.</p>
    <img src="https://cdn.justfly.vn/828x1242/media/202108/24/1629797490-cha-ca-la-vong-ha-noi-1.jpg" alt="">
    <i>Một món ăn đã quá quen thuộc với người dân Hà Nội</i>
    <p>Nói về lịch sử hình thành món, xa xôi lắm rồi. Từ hồi Pháp thuộc, có một gia đình họ Đoàn thường hay cưu mang nghĩa quân Đề Thám. Chủ nhà được cái khéo tay, hay làm món lạ, họ hay chế biến ra những món ăn mà thời đó ít ai thử, điển hình như món chả cá. Nghĩa quân thấy món ấy ăn ngon mà chưa ai biết đến nên đã giúp gia đình mở một quán ăn nhỏ, chuyên chỉ làm món chả cá. Lâu dần cả con phố cũng học theo mà bán, tên phố đổi thành “Chả cá” luôn. Mỗi quán ăn thời đó đều bày tượng ông Lã Vọng (Khương Tử Nha) đang ngồi câu cá. Khách ăn quen mồm, sau nhiều năm, gọi luôn là Chả Cá Lã Vọng.</p>
    
    
    <h2>2. Chả cá Lã Vọng - món ngon nức tiếng</h2>
    <img src="https://cdn.justfly.vn/828x552/media/202108/24/1629798180-cha-ca-la-vong-ha-noi.jpg" alt="">
    <i>Cá ngọt đậm đà, lớp vỏ bên ngoài dai vừa đủ, nóng vừa đủ và béo vừa đủ</i>
    <p>Chả cá là phải dùng cá lăng, loài cá ít xương, thịt ngọt sống ở vùng sông nước lớn. Cá thường khá to, người chắc và nặng. Ngoài ra, người ta có thể dùng cá anh vũ để làm cũng được. Nhưng hiếm vì cá anh vũ đắt. Phổ biến nhất vẫn là cá lăng.</p>
    <img src="https://cdn.justfly.vn/828x553/media/202108/24/1629797490-cha-ca-la-vong-ha-noi-5.jpg" alt="">
    <i>Chả cá có nhiều cách ăn khác nhau</i>

    <p>Không cao sang như bít tết dùng kèm vang, chả cá là món ăn giản dị đi lên từ tầng lớp bình dân. Nguyên liệu làm nên món ngon này cũng toàn những thứ đơn giản như bún, như cá lăng, mắm tôm ngon và rau thơm. Nhưng đến khi kết hợp chúng lại với nhau, chả khác gì “một cây làm chẳng nên non, ba cây chụm lại lên hòn núi cao”, nghĩa là thành cái món chả cá Lã Vọng tuyệt sắc đầy mê hoặc đó.</p>
    <p>Bước qua hàng chả cá, đã thấy thơm nức mũi mùi mắm tôm và tiếng người cười nói râm ran. Quán chả cá hầu như lúc nào cũng đông nghịt, vì khó ai có thể cưỡng lại sự cuốn hút từ những thanh âm và mùi vị chết người đó được.</p>
    <img src="https://cdn.justfly.vn/828x1035/media/202108/24/1629797490-cha-ca-la-vong-ha-noi-8.jpg" alt="">
    <i>Chả cá có hương vị đặc trưng</i>

    <p>Chỉ cần ngồi xuống và gọi 1 suất, là tầm dăm phút đã có đủ đồ được bày biện. Một cái bếp ga nhỏ, 1 cái chảo thiếc, dầu hoặc mỡ cá láng bóng và đĩa cá ruộm vàng màu nghệ, cũng đừng quên rổ rau rặt rau mùi, hành lá, húng láng cắt tầm đốt ngón tay nhé. Ăn chả cá mà thiếu cái thứ rau mùi này thì đúng là quá đáng tiếc. Đấy, rồi bún, rồi lạc rang xóc vỏ, rồi mắm tôm ớt, ... Món ăn ra nhanh vì cá đã được sơ chế qua rồi, cứ việc chia theo suất mà mang lên cho khách thôi.</p>

    <img src="https://cdn.justfly.vn/828x518/media/202108/24/1629798111-cha-ca-la-vong-ha-noi.jpg" alt="">
    <i>Với món ăn này, ngay cả người khó tính nhất cũng không từ chối được.</i>
    <p>Dầu sôi, trút cá vào đảo, thêm nhiều rau thơm cho thật dậy mùi. Rau tái, cá chín, trút bỏ bún rối vào bát, lấy thìa rưới đều 1 lượt mỡ cá đã ướm mùi thơm phức và ngọt ngậy. Lại gắp thêm miếng cá, 1 miếng rau. Chan thêm ít mắm tôm chanh ớt đàng hoàng, bỏ đôi hạt lạc. Cứ theo tuần tự đó mà bỏ miếng vừa miệng để ăn. Chà, cá săn thịt ngọt, chắc lẳn, khác hẳn cái giống cá nuôi công nghiệp, rau tái không còn tý hăng he nào mà thơm mà mướt mượt ấy. Bún mềm thì quá hợp với mắm tôm ngon rồi, hai cái thứ này sinh ra đích thị dành cả đời cho nhau mất.</p>
    <img src="https://cdn.justfly.vn/828x508/media/202108/24/1629798123-cha-ca-la-vong-ha-noi.jpg" alt="">
    <i>Món ăn này còn được CNN làm hẳn cả phóng sự giới thiệu với bạn bè quốc tế</i>
    <p>Ngoài chả cá, nhà hàng còn phục vụ cả dạ dày cá. Cái thứ dạ dày nom từa tựa ruột gà, nhưng tròn to và dày mình hơn, ăn giòn giòn, sần sật đến là vui miệng. Có hai loại dạ dày, là dạ dày lớn và bé, ở quán gọi thế, chắc là do lấy từ các loại cá khác nhau. Ăn nhậu lai rai thì ngon lắm.</p>
    <p>Tạo nên sự vi diệu của chả cá là mắm tôm, theo kinh nghiệm của người đã đi ăn nhiều nơi. Mắm tôm cất mà không ngon, bị gắt quá hay chưa đủ ngấu là mất hẳn đến 3 phần hương vị chả cá Lã Vọng.</p>

    <h2>3. Cách làm chả cá Lã Vọng tại nhà</h2>
    <p>Vì một suất cá cho một người cũng ngót nghét 130.000đ, nhiều người thường tự làm ở nhà. Vừa tiết kiệm, vừa vui lại được ăn nhiều. Nhưng làm chả cá thế nào cho đúng lại là cả một vấn đề nan giải. Cố mà mua cá lăng, không bét nhất thì dùng cá nheo, cá quả. Lọc sạch thịt ra khỏi xương, kẻo lúc ăn dễ hóc.</p>
    <p>Cá rửa sạch, lạng lát dầy tầm 1cm, ướp gia vị, riềng, mẻ, hạt tiệu, ít mắm tôm ngon trong tâm 2-3 tiếng cho ngấm.</p>
    <p>Cá kẹp vào que tre nướng trên than củi, trước khi nướng quết 1 lượt dầu cho cá. Không những giúp cá lên màu đẹp mà còn khỏi cháy. Trở cá đều tay cho đến khi chín vàng hai bên thật đều là được.</p>
    <p>Trước khi ăn, thì cũng như ngoài hàng, 1 cái bếp mini, 1 cái nồi có sẵn dầu (như ăn lẩu khô vậy), trút cá và rau thơm, hành hoa vào. Bí kíp cho món cá này mà ít ai biết đó là thêm mỡ chó vào, món ăn sẽ ngon ngậy hơn gấp vài lần.</p>

    <img src="https://cdn.justfly.vn/828x552/media/202108/24/1629798138-cha-ca-la-vong-ha-noi.jpg" alt="">
    <i>Nguyên liệu làm chả cá Lã Vọng</i>
    <img src="https://cdn.justfly.vn/828x1104/media/202108/24/1629797490-cha-ca-la-vong-ha-noi-3.jpg" alt="">
    <i>Món chả cá thơm ngon đã ra lò</i>

</div>