<div class="mt-4">
    <div class="row">
        {{#each foods}}
            <div class="col-sm-6 col-lg-6 food">
                <div class="card">
                    <a href="{{this.link}}" class="link">
                        <img src="{{this.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">{{this.description}}</p>
                        </div>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
</div>